/* General */
body {
  background-color: rgb(153, 217, 239);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ddd;
}

.navbar-brand img {
  height: 40px;
}

main {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Welcome */
.welcome-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  margin: 0 auto; /* Center align */
  margin-top: 50px; /* Add space from the top */
}

.welcome-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.welcome-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* Contact */
.contact-title {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.contact-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
}

.contact-card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #555;
}

.contact-card .btn {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
}

a {
  color: inherit; 
  text-decoration: none;
}

a:hover {
  color: #007BFF;
  text-decoration: underline; 
}

/* Post Page Styles */
.container {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  background: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background: #4cae4c;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.post {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin: 0 0 10px;
}

.post .meta {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}

.read-more-btn {
  display: inline-block;
  margin-top: 10px;
}
